* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

body {
  background-color: black;
  color: white;
}

header {
  height: 80px;
  background-color:black;
  position: fixed;
  width: 100%;
  z-index: 100;
  color: white;
}
.inner {
  width: 1300px;
  height: 100%;
  margin: auto;
  text-align: center;
  font-size: x-large;
}

/* 상세부분 */

 #visual .inner {
  display: grid;
  padding-top: 200px;
  padding-bottom: 120px;
}

.inner .word .img {
  width: 300px;
  float: left;
  margin-right: 250px;
}

.inner .word .info {
  font-size: 20px;
  font-weight: bold;
}

.inner .word .title {
  font-size: 50px;
  margin-top: 100px;
}

.inner .word .tagline {
  font-size: 30px;
  font-weight: lighter;
  word-break: break-all;
  overflow-wrap: break-word;
  margin-top: 80px;
}

#visual hr {
  width: 1300px;
  margin: 0 auto;
  border: 2px solid #3e3e3eb5;
}

/*리뷰영역*/
.reviewBox {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;
  gap: 20px;
  margin: 40px auto 20px auto;
}

.reviewWrap {
  margin-top: -20px;
  border: 2px solid white;
  width: 90%;
}

/* 리뷰카드 */
.review {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review > label {
  border: 1px solid white;
  display: inline-block;
  width: 70px;
  text-align: center;
  line-height: 40px;
  height: 40px;
}

.review > span {
  border: 1px solid white;
  display: inline-block;
  width: 70%;
  min-height: 40px;
  overflow-wrap: break-word;
  white-space: normal;
  padding: 10px;
  box-sizing: border-box;
}

.review > button {
  width: 70px;
  height: 40px;
} */

/* 리뷰 작성 */
.inputReview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  margin-bottom: 20px;
}

.inputReview > input {
  width: 100px;
  height: 40px;
  text-align: center;
}

.inputReview > textarea {
  resize: vertical;
  min-height: 50px;
  padding: 10px;
  box-sizing: border-box;
}

.inputReview > button {
  width: 70px;
  height: 40px;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

/* 로딩 화면 */
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  z-index: 9999;
  opacity: .5;
  transition: 0.5s ease;
}

/* 로딩 이미지 */
.loadingImg {
  position: relative;
  display: block;
  top: 50vh;
  transform: translateY(-50%);
}

#topButton {
  background-color: transparent;
  border: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  display: none;
}

#topButton>img {
  width: 70px;
}

/* 모달 css */
.popWrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 모달창 css */
.popCard {
  color: black;
  background-color: white;
  border: 2px solid black;
  position: relative;
  width: 800px;
  height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputPersonal {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.personal {
  display: flex;
  align-items: center;
}

.inputPersonal input {
  width: 100px;
  height: 40px;
  text-align: center;
  margin-left: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 200px;
}

.inputReview {
  margin-top: 30px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.inputReview>textarea {
  resize: vertical;
  min-height: 50px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px;
  width: 100%;
}

.popBtn {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}