* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  width: 1800px;
  margin: 0 auto;
  background-color: black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  margin: 0 auto;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: black;
}

header > div {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin: 10px 0px;
}

form {
  color: white;
}

.serach {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  height: 80px;
}

.serach > label {
  font-size: 25px;
}

.serach > input {
  margin: 0px 10px;
  width: 300px;
  padding: 10px;
  float: left;
  font-size: 20px;
  line-height: 30px;
}

.serach > button {
  position: relative;
  border: none;

  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: 0.25s;
  background-color: #77af9c;
  color: white;
  font-size: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.serach > button:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}

.serach > button:active {
  transform: scale(1.5);
}

.movie_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.movie_card {
  margin: 20px;
  padding: 10px;
  width: 570px;
  justify-self: center;
  background-color: hsla(0, 0%, 66%, 0.2);
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  position: relative;
  color: white;
}

.movie_card > img {
  width: 100%;
  border-radius: 10px;
  height: inherit;
  object-fit: cover;
}

.movie_card > div > h3 {
  padding-bottom: 10px;
  font-size: 30px;
}

.movie_card > div > p {
  padding-bottom: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s;
  border-radius: 10px;
  padding: 20px;
}

.movie_card:hover .overlay {
  opacity: 1;
}
.pagenation {
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

#numbers {
  padding: 0;
  margin: 0 2rem;
  list-style-type: none;
  display: flex;
}

#numbers li a {
  font-size: 30px;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  opacity: 0.7;
}

#numbers li a:hover {
  opacity: 1;
}

#numbers li a.active {
  opacity: 1;
  background-color: white;
  color: black;
}

.page-item {
  cursor: pointer;
}

#topButton {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 30px;
  right: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

#topButton img {
  width: 100%;
  height: 100%;
}